In [1]:
1 + 1

2

In [2]:
1 * 1

1

In [3]:
1 / 2

0.5

In [4]:
3 * 3

9

In [5]:
3 ** 2

9

In [6]:
type(1)

int

In [7]:
type(1.0)

float

In [8]:
4 % 2

0

In [9]:
5 % 2

1

In [10]:
(3 + 2) * 5

25

In [11]:
X = 1

In [25]:
X = X + 1
X

14

In [26]:
2X = 2

SyntaxError: invalid syntax (<ipython-input-26-b18d8c21487d>, line 1)

In [29]:
x = 1
X = 2
x

1

In [30]:
'nome_da_variavel'

'nome_da_variavel'

In [31]:
string = 'nome_da_variavel'

In [32]:
print(string)

nome_da_variavel

In [33]:
type(string)

str

In [36]:
var = 'Lucas'
idade = 24
print('nome_da_variavel: {one} e tem {two} anos'.format(one=var, two=idade))

nome_da_variavel: Lucas e tem 24 anos

In [39]:
lista = [1, 2, 3]
type(lista)

list

In [40]:
lista = [1.0, 'Hello', 3]

In [41]:
lista = [1.0, 'Hello', 3, [1, 2, 3]]

In [42]:
lista

[1.0, 'Hello', 3, [1, 2, 3]]

In [48]:
lista[3][1]

2

In [49]:
lista[1:2] # slice

['Hello']

In [50]:
lista[1:]

['Hello', 3, [1, 2, 3]]

In [51]:
lista[:2]

[1.0, 'Hello']

In [52]:
string[4]

'_'

In [55]:
string[:4]

'nome'

In [2]:
dic = {'valor1' : 1, 'valor2' : 2}

In [3]:
dic

{'valor1': 1, 'valor2': 2}

In [4]:
type(dic)

dict

In [5]:
dic['valor1']

1

In [7]:
dic['valor2']

2

In [8]:
dic = {'lista' : [1,2,3], 'str' : 'ola'}

In [9]:
dic['lista']

[1, 2, 3]

In [10]:
dic['lista'][1]

2

In [11]:
print(dic['str'])

ola

In [12]:
t = (1,2,3)

In [13]:
type(t)

tuple

In [14]:
t[0]

1

In [16]:
t[0] = 2

TypeError: 'tuple' object does not support item assignment

In [17]:
True

True

In [18]:
False

False

In [19]:
1 == 1

True

In [20]:
x = 1

In [22]:
x == 2

False

In [23]:
x > 0

True

In [24]:
x < 1

False

In [25]:
x != 1

False

In [26]:
x == 1 and x >= 0

True

In [27]:
x > 0 or x < 0

True

In [28]:
y = 'Reprovado'

In [29]:
x = 8

In [30]:
if x > 7:
    y = 'Aprovado'

In [31]:
y

'Aprovado'

In [33]:
x = 4

In [35]:
if x > 7:
    y = 'Aprovado'
else:
    y = 'Reprovado'

In [36]:
y

'Reprovado'

In [38]:
x = 6

In [40]:
if x > 7:
    y = 'Aprovado'
elif x > 5:
    y = 'Recuperação'
else:
    y = 'Reprovado'

In [41]:
y

'Recuperação'

In [2]:
seq = [1,2,3,4,5,6]

In [4]:
for item in seq:
    print(item)

1
2
3
4
5
6

In [5]:
range(0,100)

range(0, 100)

In [6]:
type(range(0,1))

range

In [8]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
seq = list(range(0,100))

In [10]:
type(seq)

list

In [13]:
print(seq[95:])

[95, 96, 97, 98, 99]

In [29]:
i = 0
while i < 5:
    print('i vale: {}'.format(i))
    i = i+1

i vale: 0
i vale: 1
i vale: 2
i vale: 3
i vale: 4

In [30]:
out = []

In [31]:
x = [1,2,3,4]

In [32]:
for item in x:
    out.append(item**2)

In [33]:
out

[1, 4, 9, 16]

In [34]:
[item**2 for item in x]

[1, 4, 9, 16]

In [35]:
def minha_func(param):
    print(param)

In [36]:
minha_func('ola')

ola

In [37]:
def minha_func(param):
    x = param ** 2
    return x

In [38]:
minha_func(3)

9

In [39]:
y = minha_func(2)

In [40]:
y

4

In [41]:
x = 2
x = minha_func(x)

In [42]:
x

4

In [43]:
def quadrado(var):
    return var ** 2

In [44]:
quadrado(2)

4

In [45]:
lambda var: var ** 2

In [46]:
seq = [1,2,3,4,5]

In [49]:
map(quadrado, seq)

In [50]:
list(map(quadrado, seq))

[1, 4, 9, 16, 25]

In [52]:
list(map(lambda x : x**2, seq))

[1, 4, 9, 16, 25]

In [53]:
list(filter(lambda item: item % 2 == 0, seq))

[2, 4]

In [54]:
list(filter(lambda item: item % 2 != 0, seq))

[1, 3, 5]

In [55]:
str = 'ola, eu sou o kra'

In [56]:
type(str)

str

In [58]:
str.upper()

'OLA, EU SOU O KRA'

In [59]:
str

'ola, eu sou o kra'

In [60]:
str.split()

['ola,', 'eu', 'sou', 'o', 'kra']

In [61]:
str.split('a')

['ol', ', eu sou o kr', '']

In [62]:
list = [1,2,3]

In [63]:
list.append(4)

In [64]:
list

[1, 2, 3, 4]

In [65]:
list.pop()

4

In [66]:
list

[1, 2, 3]

In [67]:
list.pop(1)

2

In [68]:
list

[1, 3]

In [69]:
'x' in [1,2,3]

False

In [70]:
3 in [1,2,3]

True

In [71]:
'a' in 'abc'

True